//Config
@import './Style-Config/config';

//Functions and Mixins
@import './Style-Config/functions';
@import './Style-Config/mixins';

//Base Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

a {
    color: $link-color;
}

h1 {
    font-family: Bebas;
    font-size: 4em;
}

h2 {
    font-family: Bebas;
    font-size: 3em;
}

//Utility Classes
@import './Style-Config/utilities';

//Components
@import './Components/Navigation/navigation';
@import './Components/Footer/footer';

//Views
@import './Views/Landing/landing';
@import './Views/About/about';