.Navigation {
    
    .black-container {
        background-color: $bg-dark;
        color: $text-light;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    nav {
        background-color: $main-color;
        color: $text-dark;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            padding: .5em;

            li {
                a {
                    text-decoration: none;
                    color: inherit;
                    &:hover {
                        color:$text-light;
                    }
                }
            }
        }
    }
}
