.Landing {
    @include set-base-color($bg-light);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-text {
        font-family: Bebas;
        color: $main-color;
        font-size: 6.5rem;
    }
    
    img {
        opacity: .15;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }
}

.bottom {
    position: absolute;
    top: 100%;
    width: 100%;
}