.Landing {
    @include set-base-color($bg-light);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-text-computer {
        color: $main-color;
        font-size: 6.5rem;
    }

    .landing-text-mobile {
        color: $main-color;
        font-size: 5rem;
    }
    
    img {
        opacity: .15;

        position: fixed;
        top: 0;
        left: 0;
        // changed this from width to height, so that picture isn't clipped on the mobile-friendly rendition
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }
}

.bottom {
    position: absolute;
    top: 100%;
    width: 100%;
}