.background {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/rectangle-overlay.png), url('../../assets/ABCCrossing.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}

.Landing {
    //@include set-base-color($bg-light);

    position: relative;

    top: 0;
    left: 0;

    text-align: center;
    height: 100vh;
    width: 100%;

    .landing-text {
        color: $main-color;
        // vw and vh make sizes relative to viewport. So adapts to mobile sizes as well
        padding-top: 13vh;
        font-size: 5.5vw;
    }
}

.bottom {
    position: absolute;
    top: 100%;
    width: 100%;
}