//Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$font-stack: Montserrat, Roboto, Bebas;

//Colors
$bg-dark: #111;
$bg-light: #eee;
$text-dark: #222;
$text-dark-2: #444;
$text-light: #fff;
$main-color: #00a552;
$link-color: lighten($main-color, 30);

