.container {
    margin: 0 10%;
}

.split-img-p {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .image {
        width: 45%;
        img {
            width: 100%;
            height: auto;
        }
    }
    p {
        width: 50%;
    }
}

span.bold{
    font-weight: bold;
}